body
{
    background-color: rgb(156, 196, 231);
}
.title
{
    margin-top: 2em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    color: rgba(17, 176, 208, 0.795);
    text-shadow: 1px 1px black;
    transition: 0.8s;
}
.title:hover
{
    cursor: pointer;
    transform: rotate(360deg);
}

.container__inputs
{
margin-top: 5em;
display: flex;
justify-content: center;
gap: 20px;
text-align: center;
}
.container__inputs input
{
 text-align: center;
}
.container__inputs button
{
    margin-top: 5px;
}

.container__inputs__ex1
{
margin-top: 5em;
display: flex;
justify-content: center;
text-align: center;
}
.container__inputs__ex1 input
{
 text-align: center;
}

.container__inputs__ex1 button
{
    margin-top: 5px;
}